.navbar {
  background-color: #2e2e2e;
}

.nav-link.navbarLinks {
  color: #da5160;
}

.sideMenuButtons {
  color: white;
}

.sideMenuButtons:hover {
  background-color: #3f3f3f;
  cursor: pointer;
}

.sideMenuIcons {
  color: #da5160;
  font-size: 1.3em;
}

.form-control.inputStyle {
  background-color: #1f1f1f;
  border-color: #3d3d3d;
  color: white;
}

.form-control.inputStyle:focus {
  box-shadow: none;
  background-color: #1f1f1f;
  border-color: #3d3d3d;
  color: white;
}

.form-control.inputStyle::placeholder {
  color: #97979b;
  opacity: 1;
}

.mediaBarBg {
  background-color: #2c2c2c;
  height: 70px;
}

.mediaBarBoxBg {
  background-color: #4d4d4d;
}

.mediaBarControls {
  color: #626262;
  font-size: 1.3em;
}

.playButton {
  font-size: 2.5em;
}

.volumeBar {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
}

/* Barra track */
.volumeBar::-webkit-slider-runnable-track {
  height: 5px;
  background: #4b4b4b;
  border-radius: 4px;
}

.volumeBar::-moz-range-track {
  height: 5px;
  background: #4b4b4b;
  border-radius: 4px;
}

/* Pallino thumb */
.volumeBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px; /* per centrare il pallino sulla barra */
}

.volumeBar::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.btnRed {
  background-color: #d60017;
  color: white;
  border: none;
  font-weight: 600;
}

.flex-basis-0 {
  flex-basis: 0;
}

.scroll-x {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: #2e2e2e transparent;
  gap: 0.1rem;
}

.scroll-x::-webkit-scrollbar {
  height: 8px;
  background: transparent;
}

.scroll-x::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
  border-radius: 4px;
}

.scroll-x::-webkit-scrollbar-thumb:hover {
  background-color: #1e1e1e;
}

.scroll-x::-webkit-scrollbar-button {
  display: none;
}

.newsThumbnail {
  width: 315px;
  height: auto;
}

.scroll-x > div {
  flex: 0 0 auto;
  width: 315px;
}

@media (min-width: 992px) {
  .scroll-x > div {
    flex: 0 0 49%;
    width: 49%;
  }

  .scroll-x img.newsThumbnail {
    width: 100%;
    height: auto;
  }
}

.albumThumbnail {
  width: 155px;
  height: auto;
}

.albumTitle {
  font-size: 0.8em;
}

.albumArtist {
  color: #a7a7a7;
}

.exploreButton {
  background: #2a2a2a;
}

.exploreButton:hover {
  cursor: pointer;
  background: #3b3b3b;
}

.exploreButton p {
  color: #da5160;
  font-size: 0.9em;
}

.footer {
  background: #323232;
}

.footerText {
  color: #eaeaea;
  font-size: 0.75em;
}

.pointer:hover {
  cursor: pointer;
}
